
body{
      background-color: powderblue;
}
p{
   color: black;
}
p1{
	color: blue;
}
body{
	color: blue;
}
li{
    color: blue;
}
h1{
	color: blue;
}
h2{
	color: blue;
}
h3{
   color: blue;
}
h4{
   color: black;
}
html{
	text-align : center;
}
ul{
	text-align : center;
}
.column {
  float: right;
  width: 33.33%;
  padding: 10 px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial7', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: blue;
    color: voilet;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
