
body{
      background-color: powderblue;
}
p{
   color: black;
font-weight: normal;
}
p1{
	color: blue;
	font-weight: normal;
}
body{
	color: blue;
}
li{
    color: blue;
}
h1{
	color: blue;
	font-weight: normal;
}
h2{
	color: blue;
	font-weight: normal;
}
h3{
   color: blue;
	font-weight: normal;
}
h4{
   color: blue;
	font-weight: normal;
}
html{
	text-align : center;
}
ul{
	text-align : center;
}
.column {
  float: right;
  width: 33.33%;
  padding: 10 px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial7', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bolder;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: black;
    color: voilet;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: black;
	font-weight: normal;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  padding: 25px;
  background-color: powderblue;
  color: blue;
  font-size: 25px;
	font-weight: normal;
}

.dark-mode {
  background-color: black;
  color: red;
}
</style>
</head>


